html, body, div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1280px;
    min-width: 1235px;
    height: 900px;
    background-color: #E4C2BB;
    margin: 10px auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.parede {
    width: 55px;
    height: 55px;
    background-color: #4B3C41;
}

.caminho {
    width: 55px;
    height: 55px;
    background-color: #E4C2BB;
}

.personagem {
    width: 55px;
    height: 55px;
    background-image: url("assets/boneco50Width.png");
    background-size: 35px 50px;
    background-repeat: no-repeat;
    animation-duration: 100ms;
    
}

.fim {
    background-color: greenyellow;
    width: 100%;
    height: 100%;
}

.vitoria {
    margin: auto auto;
    background-color: greenyellow;
    width: 500px;
    height: 50px;
    color: rgb(26, 2, 2);
    font-size: 2rem;
    text-align: center;
}